[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
discord-py = "*"
google-api-python-client = "*"
jupyter = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[requires]
python_version = "3.8"
